{{outlet}}

<footer class="footer footer--page">
    <div>
        <span>Crafted by
            <a href="https://www.twitter.com/@Brian_Sipple">@Brian_Sipple</a>
        </span>
        <span class="page-section__footnote">*Built with Ember.js</span>
    </div>
</footer>
