$todo-item__check-btn-size: 1em;
$todo-item__background-color: hsla(0, 0%, 99%, 1);
$todo-item__background-color--faded: hsla(0, 100%, 100%, 0.33);
$todo-item__btn-size: 1em;
$todo-item__font-size: 1.5em;
$todo-item__padding:  0.5em 0.67em;
$todo-item__height: 2.0em;
$todo-item__height--new: 3em;


// <li>
.todo-item {

    position: relative;
    font-size: 1.5em;
    height: $todo-item__height;  // TODO: Verfify if this is a good way to set the height (It seems like it is -- as we're wrapping a list item and it's relative to the font-size)
    box-shadow: inset 0 -1px 5px hsla(0, 0%, 0%, 0.2);
    padding: $todo-item__padding;
    //justify-content: center;
    //align-items: center;
    background-color: $todo-item__background-color;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


    button,
    input[type="checkbox"] {
        outline: none;
    }

    input[type="text"] {
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    .todo-item__element {
      display: flex;
      flex-direciton: column;
      justify-content: center;
      align-items: center;
    }

    .todo-item__title {

    }


    .todo-item__btn {
        min-width: $todo-item__btn-size;
        width: $todo-item__btn-size;
        height: $todo-item__btn-size;
        min-height: $todo-item__btn-size;
        position: relative;
    }

    .todo-item__toggle,
    .todo-item__toggle-all {
      -webkit-appearance: none;
      appearance: none;
    }

    .todo-item__toggle-all {
      transform: rotate(90deg);

      &:before {
        content: '>>';
        font-size: 0.9em;
        color: #e6e6e6;
        border: none;
      }
      &:before:checked {
        color: #737373;
      }
    }

    .todo-item__toggle:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>'); // TODO: make and src SVG here
    }

    .todo-item__toggle:checked:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); // TODO: Make and src SVG here
    }


    .todo-item__title {

        flex: 7;
        text-align: center;
        background-color: transparent;

        white-space: pre;
        word-break: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2;
        transition: color 0.4s;

        &.todo-item__title--new {
            position: relative;
            width: auto;
            font-size: 1.5em;
            font-family: inherit;
            font-weight: inherit;
            outline: none;
            color: inherit;
            box-sizing: border-box;
        }

        &.todo-item__title--input {

            display: none;
            background-color: hsla(0, 0%, 0%, 0.003);
            box-shadow: none;
            height: 100%;
        }

    }


    .todo-item__btn {

        position: relative;
        display: flex;
        padding: 0.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 0.8s $easing__ease-out-cubic,
                    scale 0.8s $easing__ease-out-cubic;


        &.btn--destroy {
            width: $todo-item__check-btn-size;
            min-width: $todo-item__check-btn-size;
            border: none;
            height: $todo-item__check-btn-size;
            min-height: $todo-item__check-btn-size;
            font-size: 1.25em;
            background-color: hsla(0, 74%, 65%, 1);
            transition: background-color 0.2s $easing__ease-out-cubic,
                        opacity 0.3s $easing__ease-out-cubic;

          &:hover {
            color: red;

          }
          &:after {
            content: 'x';
            transform: translateY(-0.1em);
          }
        }

        &.btn--primary {
            &:after {
                content: '+';
            }
        }
    }
}

/* ------------- MODIFIERS -------------- */
.todo-item--completed {
  .todo-item__title--label {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}

/* Existing item being edited */
.todo-item--editing {

    &:last-child {
        margin-bottom: -1px;
    }

    .todo-item__title--label {
        display: none;
    }

    .todo-item__title--input {
        display: block;
    }


}

.todo-item--hidden {
  display: none;
}

/* Item where that user is creating for the first time */
.todo-item--new {
  background-color: $todo-item__background-color--faded;
  height: $todo-item__height--new;
}
